<h1>xuân long sẽ thành công sớm thôi</h1>
<div class="mt-4">
    
<div class="row">
     {{#each courses}}
     
     <div class="col-sm-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <a href="/courses/{{this.slug}}">{{this.slug}}</a>
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    
     <a href="/courses/{{this.slug}}"><h2 class="card-text">{{this.name}}</h2></a>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.descript}}</p>
  </div>
  </div>
  
{{/each}}

</div>

    </div>
</div>